body {
  margin: 0px;
  font-family: monospace;
}

*:focus {
  outline: none;
}

input, button {
  font-family: monospace;
}

#content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.lines .inner, .channels .inner {
  padding: 1ex;
}
.channels {
  display: absolute;
  top: 0px;
  left: 0px;
  bottom: 1.5em;
  width: 20ex;
  height: 100%;
  overflow: auto;
  background-color: rgb(240,240,240);
}

.channel a:link, .channel a:visited {
  display: inline-block;
  width: 100%;
  color: rgb(40,40,40);
  padding: 0.25em;
}

.channel a:hover {
  background-color: rgb(250,250,250);
}

.channels .current:link, .channels .current:visited {
  font-weight: bold;
  background-color: rgb(220,220,220);
  color: rgb(40,40,40);
}

.channels .activity:link, .channels .activity:visited {
  font-weight: bold;
  color: blue;
}

.channels .mentioned:link, .channels .mentioned:visited {
  font-weight: bold;
  color: red;
}

.lines {
  position: absolute;
  top: 0px;
  left: 20ex;
  right: 0px;
  bottom: 1.5em;
}

.time {
  width: 8ex;
  margin-right: 1ex;
}

.input {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 2em;
  background-color: white;
  border-top: 4px solid rgb(127,127,127);
  padding-top: 0.5em;
}

.input input[name="text"] {
  border-width: 0px;
}
